* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

@-webkit-keyframes roll-out-left {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(-540deg);
            transform: translateY(-100px) rotate(-540deg);
    opacity: 0;
  }
}

@keyframes roll-out-left {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(-540deg);
            transform: translateY(-100px) rotate(-540deg);
    opacity: 0;
  }
}

@media only screen and (min-width: 320px) {
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
  }
  body .main-header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: black;
  }
  body .main-header .title-card {
    position: absolute;
    width: 75%;
    top: 36%;
    left: 12.5%;
    text-align: center;
  }
  body .main-header .title-card .main-logo {
    width: 5em;
    height: 5em;
    fill: white;
    -webkit-transition: fill 1s ease;
    transition: fill 1s ease;
  }
  body .main-header .title-card .main-logo:hover {
    fill: #00c780;
  }
  body .main-header .menu {
    position: absolute;
    right: 0;
    top: 2.5%;
    cursor: pointer;
  }
  body .main-header .mobile-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: transparent;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  body .main-header .mobile-overlay .colourful-clip {
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 100%, 0 58%, 0 0);
            clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 100%, 0 58%, 0 0);
    z-index: 10;
    background: #00c780;
    background: linear-gradient(184deg, #00c780 28%, #00c780 58%, mediumaquamarine 82%);
  }
  body .main-header .mobile-overlay .up-arrow {
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: 15;
    font-size: 1.5em;
    padding: .1em;
    width: 9%;
    height: 5%;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
  }
  body .main-header .mobile-overlay .roll-out-top {
    -webkit-animation: roll-out-left 0.6s ease-in  both;
            animation: roll-out-left 0.6s ease-in  both;
  }
  body .main-header .mobile-overlay nav {
    position: relative;
    z-index: 10;
  }
  body .main-header .mobile-overlay nav ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    list-style-type: none;
  }
  body .main-header .mobile-overlay nav ul li {
    padding: .3em 0;
    font-size: 1.95em;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
  }
  body .main-header .mobile-overlay nav ul li .logo {
    height: 50px;
    width: 50px;
    fill: black;
    background: white;
    padding: 10px;
    -webkit-transition-property: background, fill;
    transition-property: background, fill;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  body .main-header .mobile-overlay nav ul li .logo:hover {
    fill: white;
    background: black;
  }
  body .skills-section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), color-stop(80%, #00c78c));
    background: linear-gradient(180deg, black 50%, #00c78c 80%);
    color: white;
    padding: 1em 1em 0 1em;
    letter-spacing: 2px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
  }
  body .skills-section .hello {
    font-weight: 700;
    font-size: 1.5em;
    color: #00c78c;
  }
  body .skills-section h1, body .skills-section h2 {
    text-transform: capitalize;
    font-size: 1em;
    padding: .5em 0;
  }
  body .recent-work-section {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    background: black;
    background: linear-gradient(200deg, #00c78c 10%, #00c78c 69%);
    margin-bottom: 175px;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 0 61%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 0 61%, 0 0);
  }
  body .footer {
    position: fixed;
    height: 250px;
    z-index: -10;
    bottom: 0;
    right: 0;
    width: 100%;
    color: white;
  }
  body .footer h3 {
    color: white;
    margin-left: .5em;
    text-align: left;
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
  }
  body .footer .footer-content {
    width: 86%;
    margin: 0 auto;
    margin-top: 1.3em;
    font-size: 1em;
  }
  body .footer .footer-content .email {
    margin-top: 1em;
  }
  body .footer .social-media-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 2.5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body .footer .social-media-wrapper i {
    font-size: 1.45em;
    color: white;
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
  }
  body .footer .social-media-wrapper i:hover {
    color: #03A89E;
  }
}
/*# sourceMappingURL=main.css.map */