$mainFont :  'Poppins', sans-serif;
$mainFontWright: 700;
$marginAuto: 0 auto;
$mainBackground: #f5f5f5;
$alternativeColor: #333;
$desktopWidth : 80%;
$maxWidth : 1450px;
// #757575 charcoal 
// #c4c4c4 light gray still pretty dark though but lighter than the other gray 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1, h2, h3, h4, h5, h6, p , a {
    font-family: $mainFont;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
@keyframes move {
    0% {
      transform: translateY(0);
      opacity: 100%;
    }
    100% {
        transform: translateY(30px);
        opacity: 0;
    };
  }
@keyframes skill1 {
      0% {
          width: 0%;
      }
      100% {
          width: 80%
      }
  }
@keyframes skill2 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%
    }
}
@keyframes skill3 {
    0% {
        width: 0%;
    }
    100% {
        width: 88%;
    }
}
@keyframes skill4 {
    0% {
        width: 0%;
    }
    100% {
        width: 78%;
    }
}
@keyframes skill5 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes arrowRight {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    10% {
        transform: translateX(0%);
    }
}
  

@media only screen and (min-width:320px) {
    // naviagtion + title + mobile menu
    .main-page-header {
        background: transparent;
        background-image: url(../pictures/background1.jpg);
        background-position: center;
        background-size: cover;
        color: white;
        width: 100%;
        height: 100vh;
        padding-top: 4em;
        position: relative;
        overflow: hidden;
        transition: all 1s ease-in-out;
    }
    .navigation-wrapper {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        padding: .5em 0 0 0;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 20; 
        transition: all .4s ease;
        .nav {
            display: none;
        }
        .logo-wrapper {
            p {
                background: white;
                color: black;
                width: 90px;
                font-size: 1.5em;
                font-weight: 700;
                border-radius: 5px;
                margin: .5em .8em;
                padding:  .1em .3em;
            }
        }
    }
    .mobile-menu-wrapper {
        text-align: right;
        position: fixed;
        z-index: 9999;
        right: 1.5em;
        top: .9em;
    }
    .title-wrapper {
        width: 87%;
        margin:  7em auto 10em auto;
        position: relative;
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: .84em;
            font-weight: 400;
        }
        i{
            text-align: center;
            margin: 4.2em auto 0em auto;
            font-size: 2.8em;
            width: 100%;
            animation: move 1600ms infinite ;
        }
        #home {
            position: absolute;
            top: 0;
        }
    }
    .mobile-navigation {
        position: fixed;
        z-index: 100;
       transform: translateX(-100%);
        transition: all .55s ease;
        top: 0;
        padding-top: 1em;
        width: 100%;
        height: 100%;
        background: black;
        .mobile-nav-inner {
            width: 85%;
            margin: 0em auto;
            text-align: left;
            position: relative;
            z-index: -10;
            h3 {
                font-size: 2em;
                border-bottom: solid white 3px;
                padding-bottom: .5em;
                width: 100%;
                
            }
            ul {
                list-style: none;
                text-align: left;
                padding-top: 1em;
                li {
                    font-family: $mainFont;
                    font-size: 1.12em;
                    padding: .8em 0;
                }
            }
            div {
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr ;
                    margin-top: 1.5em;
                i {
                    width: 80%;
                    font-size: 25px;
                    margin: 0 auto;
                    color: white;
                    padding: 15px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                }
            } 
        }
    }
// main wrappper
.intro-wrapper {
    background: $mainBackground;
    overflow: hidden
}
  // about me wrapper 
  .about-me-wrapper {
      width: 88%;
      margin: $marginAuto;
      padding-top: 2.5em;
      h2 {
        font-size: 2em;
    }
      .about-me-inner {
        width: 100%;
        img {
            width: 100%;
            margin: 1em 0;
        }
        p {
            font-size: .9em;
            font-weight: normal;
        }
      }
  }
  // skills 
  .skills {
      width: 88%;
      margin: 1.5em auto;
      h2 {
          font-size: 2em;
      }
      .skill-bar {
          width: 100%;
          height: 30px;
          background: white;
          border-radius: 5px;
          position: relative;
          margin: 1em 0;
      }
      .skill-bar-inner {
        width: 0%;
        position: absolute;
        top: 0;
        height: 30px;
        z-index: 10;
        background: #c4c4c4;
        border-radius: 5px;
        font-size: .9em;
        font-weight: 200;
        p {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 200px;
            font-weight: normal;
            
        }
        
    }
   
    .javascript-skill-animation {
        animation: skill1 1s ease .5s 1 forwards ;
    }
    .html-skill-animation {
        animation: skill2 1.5s ease .5s 1 forwards ;
    }
    .sass-skill-animation {
        animation: skill3 .9s ease .5s 1 forwards ;
    }
    .git-skill-animation {
        animation: skill4 1.7s ease .5s 1 forwards ;
    }
    .ps-skill-animation {
        animation: skill5 1.9s ease .5s 1 forwards ;
    }
    
  }
  // experience
  .exp {
      width: 88%;
      margin: $marginAuto;
      padding-bottom: 2em;
      h2 {
          font-size: 2em;
      }
      .experience-inner {
          margin: 1em 0;
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
          .exp-cards {
                background: white;
                box-shadow: 0 3px 16px rgba(0,0,0,.1);
                padding: 20px 5px ;
                h4 {
                    font-size: .9em;
                    margin:  0 0 0 .5em ;
                }
                p {
                    font-size: .9em;
                    margin:  .1em 0 0 .5em ;
                    span {
                        font-style: italic;
                        padding-right: .5em;
                        float: right;
                    }
                }
          }
      }
  }
  //  banner
  .banner {
      width: 100%;
      padding: 1em 10%;
      text-align: center;
      color: white;
      grid-gap: 10%;
      background:#333;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .banner-inner {
          margin: .5em 0 ;
          h4 {
              font-size: 2em;
          }
          p {
              font-size: .9em;
              font-weight: 100;
              
          }
      }
    }
    // middle -wrapper
    .middle-wrapper {
        background: $mainBackground;
        padding-top: 1.5em;
    }
    // services
    .services {
        padding: 1.85em 0;
        width: 88%;
        margin: 0 auto;
        .services-info {
            h3 {
                font-size: 2em;
            }
            p {
                margin: 1em 0;
                font-size: .9em;
            }
        }
        .services-cards-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            .services-cards {
                width: 100%;
                padding: 1em 0 1em 1em;
                margin: .5em 0;
                background: white;
                box-shadow: 0 3px 16px rgba(0,0,0,.1);
                    i {
                        font-size: 1.9em;
                    }
                    h4 {
                        font-weight: 700;
                        font-size: 1em;
                        margin: .5em 0;
                    }
                    p {
                        font-size: 1em;
                        font-family: Raleway;
                        width: 98%;
                        

                    }
            }
        }
    }
    // call to action banner 
    .call-to-action-wrapper {
        width: 100%;
        height: 140px;
        position: relative;
        color: white;
        overflow: hidden;
        img {
            position: absolute;
            top: -30px;
            width: 100%;
            height: 180%;
            z-index: -99;
        }
            div{
               width: 88%;
               padding: 1em 0;
               margin: 0 auto;
               h4 {
                   font-size: .9em;
                   font-weight: 400;
               } 
            
               button {
                   color: black;
                   margin: 1em 0 0 0 ;
                   border: solid 2px white;
                   border-radius: 3px;
                   background: white;
                   cursor: pointer;
                   font-family: poppins;
                   padding: 3px 15px;
                   letter-spacing: 1.25px;
                   text-transform: uppercase;
               }
            }
    }
    // lower wrapper 
     .lower-wrapper {
         background: $mainBackground;
         padding-top: 2em;
     }
    // Projects 
    .projects-wrapper {
        width: 88%;
        margin: 0 auto;
        padding-bottom: 1.5em;
            h3 {
                font-size: 1.5em;
            }
            p {
                font-size: .9em;
            }
            .projects-container {
                display: grid;
                margin: .5em 0 2em 0;
                display: grid;
                grid-template-columns: 1fr;
                .projects {
                    width: 100%;
                    text-align: center;
                    height: 100px;
                    margin: 0em auto 7em auto;
                    position: relative;
                    .project-pictures-wrapper {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        transition: opacity .6s ease-in-out;
                        img {
                            width: 100%;
                        }
                    }
                    .projects-overlay {
                        width: 100%;
                        height: 190%;
                        opacity: 0;
                        z-index: 10;
                        text-align: center;
                        background: #333;
                        color: white;
                        padding: 9% 0; 
                        position: absolute;
                        transition: opacity 1s ease-in-out;
                        top: 0;
                        h4 {
                            font-size: 1.2em;
                        }
                        button {
                            background: white;
                            color: #333;
                            font-family: poppins;
                            padding: 5px 15px;
                            font-size: .8em;
                            margin-top: 1em;
                        }
                    }
                }
                 .projects-overlay:hover {
                    opacity: 1;
                }
            }
        
        
    }
    //testimonials
    .testimonials {
        background-image: url(/pictures/wood.jpg);
        background-size: cover;
        padding: 1.5em 6%;
        color: white;
        h4 {
            font-size: 1.5em;
            padding: 1em 0 .5em 0;
        }
        p {
            font-size: .90em;
            margin-bottom: .5em;
        }
        .testimonials-cards {
            background: white;
            color: black;
            box-shadow: 0 3px 16px rgba(0,0,0,.1);
            margin: 1em 0;
            height: 11em;
            .testi-inner {
                display: grid;
                grid-template-columns: 30% 1fr;
                width: 90%;
                margin: 0 auto;
                padding-top: 1em;
                img {
                    width: 70%;
                }
                div {
                    h4 {
                        font-size: 1em;
                        margin-top: -.5em;
                    }
                }
            }
            .testimonials-description {
                width: 88%;
                margin: .5em auto;
                font-style: italic;
                // font-weight: bolder;
            }
        }
    }
    //footer 
    footer {
        background: #333;
        color: white;
    
    .footer-container {
        width: 88%;
        padding: 1.5em 0;
        margin: 0 auto;
        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: .9em;
            font-weight: 400;
            margin: 1em 0;
        }
    }
    .contact {
        margin: 2em auto;
        color: lighten( #333,  50) ;
        p {
            font-weight: 400;
            font-size: .9em;
        }
        i {
            margin-right: 1em;
        }
    }
    .form {
        margin: 2.5em 0 ;
        label {
            font-family: $mainFont;
        }
        .first-name, .last-name, .email {
            width: 100%;
            margin: .65em 0;
            font-size: 1em;
            background: $alternativeColor;
            color: white;
            padding: 5px 8px;
            border: solid lighten(#333, 10) 1px;
            border-radius: .5px;
        }
        textarea {
            width: 100%;
            height: 70px;
            margin: .6em 0;
            font-size: 1em;
            background: $alternativeColor;
            color: white;
            padding: 3px 5px;
            border: solid lighten(#333, 10) 1px;
            border-radius: .5px;
        }
      .button-div {
          width: 100%;
          text-align: left;
          button {
            color:$alternativeColor;
            margin-top: 1em;
            background: #eee;
            font-size: .9em;
            font-family: $mainFont;
            letter-spacing: 1.35px;
            text-transform: uppercase;
            padding: 3px 10px;
            border-radius: 5px;
        }
      }
        ::placeholder {
            color: white;
        }
    }

    #map {
        width: 100%;
        margin: initial;
        height: 300px;
    }
    .lower-footer {
        width: 100%;
        background: darken($color: #868e96, $amount: 2) #868e96;
        position: relative;
        p {
            font-size: .6em;
            text-align: center;
            padding: 3em 0;
            text-transform: lowercase;
            color: rgba(255, 255, 255, .5);
        }
        .up-arrow-wrapper {
            position: absolute;
            background: white;
            padding: 4px 9px;
            top: -1.6em;
            right: 44%;
            transform: rotate(45deg);
        }
        .upArrow {
            color: black;
            font-size: 1.9em;
            transform: rotate(-45deg);
        }
    }
    
    }
    // gallery page
    .gallery-header {
        background: #333;
    }
    .gallery-header-wrapper {    
        width: 100%;
        height: 5em;
        background: url(/pictures/call-to-action.jpeg) no-repeat center center;
        background-attachment: fixed;
        margin-top: 5em;
        z-index: -10;
        color: white;
        .gallery-fixed {
            width: 100%;
            position: fixed;
            top: 0;
            background: $alternativeColor;
            z-index: -30;
            display: grid;
            grid-template-columns: 20% 1fr;
            padding: 1em;
            i {
                font-size: 1.5em;
                text-align: right;
                margin: .5em 1.5em 0 0;
                font-size: 1.5em;
                animation: arrowRight 1.5s ease infinite;
            }
        }
        h2 {
            margin: 0.7em;
            padding-top: .8em;
        }
    }
    
       

    .gallery-images-wrapper {
        background: $alternativeColor;
    }
   


  }
  @media only screen and (min-width:375px) {
   // mobile styles for larger screen sizes e.g Iphone 6
   // increasing main title font-size and placement
   .title-wrapper {
        margin-top: 10em;
        h1 {
            font-size: 2.35em;
        }
        h2 {
            font-size: .9em;
        }
        i {
            margin-top: 5em;
            font-size: 3em;
        }
   }   
   .mobile-navigation {

    .mobile-nav-inner {
        h3 {
            font-size: 2em;
        }
        ul {

            li {
                font-size: 1.1em; 
            }
        }
        div {
            i {
                font-size: 1.5em;
            }
        }
    }
   }
   // about me section
   .about-me-wrapper {

   
   
   .about-me-inner {
       h2 {
           font-size: 3em;
       }
       p {
           font-size: 1em;
        
       }
   }
}
// skills 
.skills {
    .skill-bar {
        
    }
    .skill-bar-inner {
        p {
            font-size: 1em;
        }
    }
}
// experience
.exp-cards {
    font-size: 1.2em;
}
// banner
.banner {
    font-size: 1.2em;
}
// services 
.services {
    font-size: 1.15em;
}
// call to action banner 
.call-to-action-wrapper  {
    height: 170px;
    div {
        font-size: 1.2em;
    }
}
//projects-wrapper
.projects-wrapper {
    font-size: 1.25em;
    .projects-container {
        
        .projects {
            margin: 4em 0;
            height: 117px;
            .projects-overlay {
                height: 210%;
            }
        }
       
    }
    
    
}
// testimonials
.testimonials {
    font-size: 1.25em;
    padding: 5em  1.5em;
}
// footer-container
 .footer-container {
     font-size: 1.25em;
 }
 
     .form label {
         font-size: .8em;
         

     }


  }

@media only screen and (min-width:1440px) {
    //Styling for larger screen of 1440px so desktops mon!
    // the navigation 
    .navigation-wrapper {
        grid-template-columns: 1fr 500px;
        width: 100%;
        padding: 1em 10%;
        text-align: center;
        .nav {
            display: block;
            list-style: none;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            font-size: 1.25em;
            font-family: poppins;
            li {
                padding-top: 1.2em;
                font-size: .8em;
                text-align: left;
                width: 100px;
                text-align: center;
                color: rgba(255, 255, 255, .5);
                transition: .4s color ease;
                cursor: pointer;
            }
            li:hover {
                color: rgba(255, 255, 255, 1)
            }
        }
  }
  .mobile-menu-wrapper {
    display: none;
}
#mobileNav {
    display: none;
}
// header background
.main-page-header {
    background-attachment: fixed;
    
}
// title 
.title-wrapper {
    width: 80%;
    margin: 14em auto 0 auto ;
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    i {
        font-size: 3.5em;
        margin-top: 5em;
    }
}
// about me wrapper 
.about-me-wrapper {
    // margin-top: 2em;
    width: $desktopWidth;
    
    h2 {
        font-size: 3em;
    }
    .about-me-inner {
        display: grid;
        margin-top: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        grid-gap: 5%;
        img {
            grid-area: b;
            width: 100%;
            padding: 0 5%;
            height: 300px;
            margin: -5em 0 0 0 ;
            padding: 0;
            
        }
        p {
            grid-area: a;
            font-size: 1.1em;
        }
    }
}
// now for the skills & exp 
// the main wrapper to display grid
.skills-exp-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3%;
        width: $desktopWidth;
        margin: 1em auto 0 auto;
        
        .skills {
            margin: 0 ;
            h2 {
                font-size: 3em;
                margin: 0;
            }
            .skill-bar {
                height: 35px;
                    .skill-bar-inner {
                        height: 100%;
                        p {
                            font-size: 1.25em;
                        }
                    }
            }
        }
}
// exp wrapper
.exp {
    margin: 0;
    width: 100%;
    h2 {
        font-size: 3em;
    }
 .experience-inner {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 5x;
     margin-right: 0;
        .exp-cards {
            width: 100%;
        }
 }
}
// the bannner 
.banner {
    height: 220px;
    margin: 3em 0;
        .banner-inner {
            font-size: 1.5em;
        }
}
// my services
.services {
    display: grid;
    width: $desktopWidth;
    grid-template-columns: 1fr 65%;
    grid-gap: 2%;
    padding-bottom: 4em;
    .services-info {

        h3 {
        font-size: 3em;
        }
    }
    .services-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
    }

  



}
// call to action wrapper 
.call-to-action-wrapper {
    background-image: url(/pictures/call-to-action.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 15em;
    padding: 0 6%;
    img {
        display: none;
    }
    div {
        font-size: 1.8em;
        padding: 1em 0;
        button {
            font-size: .6em;
        }
    }
}
// projects 
.projects-wrapper {
    margin-top: 2em;
    width: $desktopWidth;
    h3 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        margin-bottom: 2.5em;
    }
    .projects-container {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 250px;
        grid-template-areas: 
        "a a b b" 
        "c d e f" ;
        grid-gap: 10px;
        .projects {
            margin: 0;
            padding: 0;
          
        }
        .p-1 {
            grid-area: a;
            .project-pictures-wrapper {
                img {
                    height: 300px;
                }
            }
            .projects-overlay {
                height: 255%;
                padding-top: 4em;
            }
        }
        .p-2 {
            grid-area: b;
            .project-pictures-wrapper {
                img {
                    height: 300px;
                }
            }
            .projects-overlay {
                height: 255%;
                padding-top: 4em;
                
            }
        }
        .p-3 {
            grid-area: c;
            .projects-overlay {
                height: 189px;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .p-4 {
            grid-area: d;
            .projects-overlay {
                height: 189px;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .p-5 {
            grid-area: e;
            .projects-overlay {
                height: 189px;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .p-6 {
            grid-area: f;
            .projects-overlay {
                height: 189px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
   
}
// testimonials
.testimonials {
    padding: 2em 8%;
    background-attachment: fixed;
    h4 {
        font-size: 2.5em;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: 1.1em;
        margin: .5em 0 1.5em 0;
    }
    .testimonials-cards {
        padding: .5em;
        .testi-inner {
            img {
                width: 70px;
                margin:  -1em 0 0 0;
                padding: 0;
            }
            div {
                h4 {

                }
                p {
                    margin: 0;
                    padding: 0;
                    
                }
              
            }
           
        }
        .testimonials-description {
            font-size: .8em;
        }
    }
}
// footer 
footer {
.footer-container {
    width: $desktopWidth;
    padding: 2.5em 0;
    h3 {
        font-size: 2.5em;
    }
    p {
        font-size: .8em;
        margin-bottom: 1.5em;
    }
    .form-map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        
        .contact {
            padding: 0;
            margin: 0;
        }   
        .form {
            margin: 0;
            padding: 0;
            form {
                font-size: .8em;
                ::placeholder {
                    color: #b3b3b3;
                }
                input, textarea {
                    padding: 10px;
                }
                textarea {
                    max-width: 575px;
                    min-width: 575px;
                    max-height: 300px;
                }
                .first-name, .last-name {
                    width: 49.5%;
                    display: inline-block;
                }
                #submit-button {
                    cursor: pointer;
                }
            }
           
        }
    }
}
.lower-footer {
    .up-arrow-wrapper {
        right: 49%;
    }
    p {
        font-size: .9em;
    }
}

}
}
@media only screen and (min-width:1550px)  {
   // setting the max width to element to make it look okay on larger screens 
  
   .main-page-header {
       
   }
   .navigation-wrapper {
        max-width: $maxWidth;
        .nav {
            max-width: $maxWidth;
        } 
}
}