* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    
}

h1, h2, h3, h4, h5, h6, p, a , span {
    font-family: 'Cardo', serif;

}
a, a:visited {
    color: inherit; 
    text-decoration: none;
    font-family: inherit;
}
li {
    cursor: 'pointer';
}
/* font-family: 'Raleway', sans-serif */

@media only screen and (min-width:320px) {
    /* Header */ 
    .header-wrapper {
        width: 100%;
        z-index: 0;
        margin-top: 5em;
    }
    .header-wrapper nav {
        width: 100%;
        top: 0px;
        z-index: 200;
        border-bottom: solid rgb(16, 92, 177) 2px;
        position: fixed;
        background: white;
    }
   
    .header-logo {
        width: 230px;
        margin: 7px;
    }
    .no-show-mobile {
        display: none;
    }
    .hamburger {
        position: absolute;
        top: 12px;
        right: 10px;
        z-index: 1250;
        
    }
    .title-page-content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

    }
    .title-page-content img {
        width: 800px;
        height: 490px;
    }
    .title-page-content h1 {
        position: absolute;
        bottom: 1.45em;
        width: 90%;
        margin: 0 5%;
        text-align: left;
        color: white;

    }
    /* Mobile-Menu-Overlay */
    .mobile-menu-overlay {
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 150;
        margin-top: 5em;
        transition: transform .4s ease-in;
        transform: translateY(-100%);
     
    }
    .mobile-menu-overlay ul {
        padding-top: 3em;
        width: 70%;
        display: block;
        text-align: center;
        margin: 0 auto;
        list-style: none;
    }
    .mobile-menu-overlay ul li {
        padding:  1em 0 ;
        font-family: Raleway;
        font-size: 1.2em;
        border-bottom: solid .1px rgb(16, 92, 177);
        text-transform: uppercase;
        transition: color .2s ease-in-out;
    }
    .mobile-menu-overlay ul li:hover {
        color: rgb(16, 92, 177);
    }
    .investor-button {
        color: white;
        background: rgb(16, 92, 177);
        border: white;
        padding: 5px 15px;
        margin: 1em 0;
        font-size: 1em;
        font-family: Raleway;
        cursor: pointer;
        
    }
    .contact-button {
        font-size: 1.1em;
        color: rgb(16, 92, 177);
        border: solid 2px rgb(16, 92, 177);
        background: none;
        padding: 5px 15px;
        margin: 2em 0;
        cursor: pointer;
        transition-property: color background-color border;
        transition-duration: .7s;
        transition-timing-function: ease;

    }
    .contact-button:hover {
        color: white;
        background-color: rgb(16, 92, 177);
        border: solid white 2px;
    }
    /* Main Content */
    
    .main-content-wrapper h2 {
        width: 85%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.3em;
        margin-top: 1em;
        text-transform: capitalize;
    }
    .title-colour {
        color: rgb(16, 92, 177);
    }
    .break-up {
        margin: 2em auto;
        width: 90%;
    }
    .main-content-wrapper h3 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 1em;
        font-size: 1em;
    }
    /* companies we work with */
    .company-pictures {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 120px 120px;
        grid-gap: 5px;
        grid-template-areas: 
            "one one" 
            "two three"
            "four five";
    }
    
    .company-wrapper {
        width: 80%;
        margin: .6em auto;
        position: relative;
    }
    /* the look of the boxes */
    .company-wrapper img {
        width: 100%;
        height: 200px;
    }
    .company-wrapper-inner {
        width: 100%;
        position: absolute;
        top: 0;
        
    }
    .company-wrapper-inner img {
        width: 50%;
        margin: 4.5em 25% 0 25%;
        height: 70px;
        color: white;
    }
    /* the positioning of the boxes */
    .boxA {
        grid-area: one;
    
    }
    .boxB {
        grid-area: two;
        
    }
    .smaller-box {
        width: 90%;
        height: 100px;
    }
    .smaller-box img {
        width: 100%;
        height: 100%;
        
    }
    .smaller-box div {
        width: 90%;
        height: 100px;
    }
    .smaller-box div img {
        width: 70%;
        height: 25%;
        margin: 40% 20%;
    }
    #logo-correction {
        width: 50px;
        margin: 40% 30%;
    }
    #logo-correction2 {
        width: 90px;
        height: 50px;
        margin: 25% 10%;
        
    }
    .boxC {
        grid-area: three;
    
    }
    .boxE {
        grid-area: four;
    }
    .boxD {
        grid-area: five;
    }
    /* Our investment approach */
    .page-break {
        margin: 2em 7.5%;
        width: 85%;
    }
    .investment-approach {
        width: 90%;
        margin: 2em auto 0 auto;
        text-align: center;
    }
    .investment-approach-wrapper {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .investment-approach-content {
        margin-top: 1em;
    }
    .investment-approach-content p {
        margin-top: .5em;
        font-size: .85em;
    }
    .investment-approach-content div {
        background:rgb(16, 92, 177);
        width: 80%;
        margin: 0 auto;
        height: 80%;
        padding: 20px;
        border-radius: 100%;

    }
    .investment-fix div img {
        height: 40%;
    }
    /* News-Wrapper*/
    .news-wrapper {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    .news-wrapper h3 {
        margin-bottom: 1em;
    }
    .news-content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .news-content-inner {
        width: 100%;
        margin-bottom: 1em;
    }
    .news-content-inner img {
        width: 100%;
        display: block;

    }
    .news-content-inner i {
        text-align: left;
        display: block;
        font-size: .85em;
        text-transform: capitalize;
        font-style: italic;
        margin: .3em 0 ;
        text-decoration: underline;
    }
    .news-content-inner p {
        text-align: left;
        font-size: .95em;
    }
    .news-content-inner p span {
        color: rgb(16, 92, 177);
    }
    /* Footer */ 
    .main-footer {
        background: black;
        color: white;
    }
    .footer-contact-inner {
        width: 90%;
        margin: 1em auto;
        padding: 2em 0 0 0;
        text-align: center;
    }
    .footer-contact-inner h5 {
        font-size: 1.2em;
        margin-bottom: .45em;
    }
    .footer-contact-inner h6 {
        font-size: .8em;
        font-weight: 100;
        font-family: raleway;
        color: #B3B2B0;
    }
    .footer-contact-inner p {
        font-size: .80em;
        color: #B3B2B0;
        margin-top: -1em;
    }
    .the-dot {
        color: rgb(16, 92, 177);
        margin: 0 .2em;
        font-size: 40px;
    }
    .location-links {
        text-transform: uppercase;
        font-size: .75em;
        font-family: Raleway;
    }
    .footer-line-break {
        color: #333333;
        height: .1px;
        width: 80%;
        margin: 1.5em 10%;
    }
    .legal-wrapper {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .legal-wrapper p {
        text-align: center;
        font-size: .75em;
        color: #B3B2B0;
        font-family: Raleway;
        margin: 1em 0;
    }

    /* ---------------- About Page -------------------
    -----------------------------------------------*/
    /* About Page header */ 
    .about-page-header {
        width: 100%;
        height: 500px;
        position: relative;
    }
    .about-page-header img {
        width: 100%;
        height: 100%;
    }
    .about-page-header h1 {
        position: absolute; 
        bottom: 90px;
        color: white;
        left: 10px;
        text-shadow: 2px 2px 2px #000;

    }
    .about-page-header i {
        position: absolute;
        bottom: 20px;
        left: 47%;
        font-size: 25px;
        color: white;
        border-radius: 100%;
        padding: 5px;
        text-shadow: 2px 2px 2px #000;
        animation: mymove 1.15s infinite;
    }
    @keyframes mymove {
        from {bottom: 20px;}
        to {bottom: 10px;}
        
    }
    /* About Page main body */ 
    .about-page-main-title {
        width: 90%;
        margin: 3em auto;
        text-align: center;
    }
    .about-page-main-title h2 {
        font-size: 1.1em;
        margin: 1em 0;
    }
    .about-page-main-title p {
        font-size: .85em;
        margin: 1em 0;
        font-family: Raleway;
        width: 100%;
        line-height: 20px;
        padding-bottom: 1em;
    }
    
    
    /* About Page information */ 
    .about-page-information {
        width: 100%;
        text-align: center;
        background: #f2faff;;  
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-page-information-inner {
        padding: 1.5em 0;
    }
    .about-page-information-inner h2 {
        font-weight: 700;
        font-size: 1.5em;
    }
    .about-page-information-inner p {
        width: 90%;
        margin: 0 auto;
        font-family: Raleway;
    }
    /* why ocean capital */ 
    .why-ocean-capital {
        text-align: center;
        margin: 2em 0;
    }
    .why-ocean-capital h3 {
        font-size: 1.25em;
    }
    .mobile-why-inner {
        width: 80%;
        margin: 1em auto;
    }
    .mobile-why-inner div {
        width: 50%;
        margin: 0 auto;
        margin-bottom: .5em;
    }
    .mobile-why-inner h4 {
        font-size: 1.1em;
        
    }
    .mobile-why-inner p {
        font-size: .9em;
        margin-top: .6em;
        font-family: Raleway;
    }
    #hr-no-show {
        display: none;
    }
    .why-us {
        display: none;
    }
    /* ---------------- Contact Page -------------------
    -----------------------------------------------*/
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
        padding-top: 1em;
        position: relative;
    }
    .office-button {
        width: 80px;
        background: #0099d7;
        color: white;
        padding: 10px;
        border: none;
        font-family: Raleway;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .office-location-inner {
        margin-top: 1em;
    }
    .office-location-inner h5 {
        text-transform: uppercase;
        color: #0099d7;
        font-family: Raleway;
        margin-bottom: .6em;
    }
    .office-location-inner p {
        font-size: .8em;
        font-family: Raleway;
        margin: .125em 0 ;
    }
    .office-location-inner span {
        color: #0099d7;
        margin-right: 5px;

    }
    .contact-dis {
        display: none;
    }
    #contactButton2 {
        background-color: #ACDDF1;
    }
    /* Contact Form */ 
    .contact-form-wrapper {
        margin-top: 2em;
    }
    .contact-form-wrapper input {
        width: 45%;
        margin: 0 2%;
        padding: 1em;
        border: none;
        background: #f2faff;
        font-size: .65em;
        margin-bottom: 1em;
    }
    .contact-form-wrapper select {
        background: #f2faff;
        width: 45%;
        margin: 0 2%;
        border: none;
        padding: 1em 0;
        border-radius: 0;
        font-size: .65em;
    }
    .contact-form-wrapper textarea {
        background: #f2faff;
        border: none;
        width: 95%;
        padding: 1.1em;
        margin: 0 2%;
        min-height: 8em;
        font-size: .65em;
    }
    #contactSubmit {
        background: #f2faff;
        border: none;
        padding:  .6em 1.2em;
        color: black;
        display: block;
        float: right;
        margin: 1em 1em 0 0;
        cursor: pointer;
    }
    .submit-thank-you {
        position: absolute;
        background: white;
        box-shadow: 1px 2px 1px 1px #0099d7;
        text-align: center;
        bottom: 2em;
        padding: 0 1em;
        height: 48%;
        display: none;
    }
    .submit-thank-you h1 {
        font-size: 1.2em;
        margin-top: 2em;
    }
    .submit-thank-you h2 {
        font-size: 1em;
    }
    .submit-thank-you p {
        font-size: .8em;
    }
/* ---------------- Our People Page -------------------
-----------------------------------------------*/
.our-team-wrapper {
    width: 85%;
    margin: 0 auto;
}
.our-team-wrapper h1 {
    text-align: center;
    margin-top: 1.5em;
}
.our-team-wrapper > p {
    text-align: center;
    margin-top: 1.5em;
}
.our-team-wrapper hr {
    margin: 2em 0 ;
}
.individual-employee-cards {
    width: 100%;
    margin: 1em 0;
}
.individual-employee-cards img {
    width: 100%;
    height: 60%;
}
.individual-employee-cards h4 {
    font-family: Raleway;
    font-weight: 700;
    margin: .6em 0;
}
.individual-employee-cards h5 {
    text-transform: uppercase;
    font-family: Raleway;
}
.individual-employee-cards p {
    font-size: .80em;
    margin-top: 1em;
}
/* ---------------- Our Vision Page -------------------
-----------------------------------------------*/
.our-vision-wrapper {
    width: 85%;
    margin: 0 auto;
}
.our-vision-inner h1 {
    font-family: Raleway;
    margin: 1em 0 ;
    font-size: 1.125em;
}
.our-vision-inner hr, .our-vision-wrapper hr {
    margin: 1em 0;
}
.our-vision-wrapper h5 {
    text-align: center;
    font-size: 1.1em;
}
.our-vision-wrapper button {
    width: 40%;
    margin: 1em 30%;
    background: #0099d7;
    color: white;
    padding: 10px;
    border: none;
    font-family: Raleway;
    letter-spacing: 1px;
    cursor: pointer;
}
.testimonials-wrapper {
    width: 100%;

}
.our-vision-wrapper > h2 {
    text-align: center;
    margin-bottom: 1em;
    font-family: Raleway;
    font-size: 1.7em;
}
.testimonials-inner {
    margin: 1.5em 0 ;
}
.testimonials-inner img {
    width: 70%;
    margin: 0 15%;
}
.testimonials-inner h2 {
    font-family: Raleway;
    margin: .65em 0;
}
.testimonials-inner p {
    font-style: italic;
    font-size: .95em;
}
}
@media only screen and (min-width:375px) {
 .title-page-content img {
     height: 600px;
 }  
 .about-page-header {
     height: 600px;
 }
 .about-page-header img {
     height: 600px;
 }
 .about-page-header h1 {
     font-size: 2.5em;
     
 }
}
@media only screen and (min-width:414px) {
    /* Enlarging the text and shuffeling a few things around on the home page */
    .title-page-content {
        height: 570px;
    }
    .title-page-content img {
        height: 570px;
    }  
    .about-page-header {
        height: 570px;
    } 
    .about-page-header img {
        height: 570px;
    } 
    .main-content-wrapper h2 {
        font-size: 1.45em;
    }
    .main-content-wrapper h3  {
        font-size: 1.35em;
    }
    #logo-correction2{
        margin: 20% 20%;
    }
    #logo-correction{
        margin: 30% 25%;
        width: 70px;
    }
      #logo-correction2{
        margin: 20% 20%;
    }
    .smaller-box div img {
        width: 80%;
        margin: 30% 15% ;
    }
    .investment-approach h3, .news-wrapper h3 { 
        font-size: 1.45em;
    }
    .investment-approach-content p {
        font-size: 1em;
    }
    .investment-fix div img {
        height: 90%;
    }
    .news-content-inner i {
        font-size: .95em;
        margin: .5em 0;
    }
    .news-content-inner p {
        font-size: 1.145em;
    }
    .footer-contact-inner h5 {
        font-size: 1.5em;
    }
    .footer-contact-inner h6 {
        font-size: 1.15em;
    }
    .footer-contact-inner p {
        font-size: 1em;
    }
    .location-links {
        font-size: 1em;
    }
    .legal-wrapper p {
        font-size: .85em;
        padding-bottom: 1.2em;
    }
    .office-locations {
    margin: 1em;
    }
    .contact-wrapper {
        padding-bottom: 3em;
    }
    
}
@media only screen and (min-width:600px) {
    /* Enlarging the text and shuffeling a few things around on the home page */
    .title-page-content {
        height: 780px;
    }
    .title-page-content h1 {
        font-size: 2.5em;
    }
    .title-page-content img {
        height: 780px;
    }  
    .about-page-header {
        height: 780px;
    } 
    .about-page-header img {
        height: 780px;
    }  
    .main-content-wrapper h2 {
        font-size: 1.8em;
    }
    .main-content-wrapper h3 {
        font-size: 1.5em;
    }
    .company-pictures {
        grid-template-rows: 1fr 190px 190px;
    }
    .smaller-box {
        margin: 1em 0;
    }
    .smaller-box img {
        height: 170px;
        width: 100%;
    }
    .smaller-box div img {
        width: 160px;
        margin: 35% 0 0 15%;
    }
    #logo-correction {
        width: 100px;
        height: 70px;
    }
    #logo-correction2 {
        width: 140px;
        height: 80px;
    }
    .company-wrapper-inner img {
        margin: 15% 25%;
        top: 0;
    }
    .company-wrapper-inner {
        width: 100%;
        height: 100%;
    }
    .investment-approach h3 {
        font-size: 1.8em;
    }
    .investment-approach-content div {
        width: 140px;
    }
    .investment-approach-content p {
        font-size: 1.25em;
    }
    .news-content {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 30px;
    }
    .news-content-inner img {
        width: 100%;
        height: 200px;
    }
    .news-content-inner i {
        font-size: 1.15em;
    }
    .news-wrapper h3 {
        font-size: 1.8em;
    }
    /* ----------- about us page ---------
    -------------------------------------*/
    .about-page-header h1 {
        font-size: 3em;
    }
    .about-page-header i {
        font-size: 3em;
    }
    .about-page-main-title h2 {
        font-size: 2em;
    }
    .about-page-main-title p {
        font-size: 1.25em;
        line-height: 26px;
    }
    .about-page-information-inner h2 {
        font-size: 1.9em;
    }
    .about-page-information-inner p {
        font-size: 1.2em;
    }
    .why-ocean-capital h3 {
        font-size: 1.8em;
    }
    .mobile-why-inner h4 {
        font-size: 1.3em;
    }
    .mobile-why-inner p {
        font-size: 1.1em;
    }
/* ----------- footer ---------
-------------------------------------*/
.legal-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 40px 1fr;
}
.legal-wrapper p {
    width: 260px;
    margin: 0;
}
/* ----------- mobile overlay ---------
-------------------------------------*/
.mobile-menu-overlay ul li  {
     font-size: 1.75em;
}
.mobile-menu-overlay button {
    width: 270px;
    font-size: 1.45em;
}
/* ----------- Our Vision ---------
-------------------------------------*/
.our-vision-inner h1 {
    font-size: 1.8em;
}
.our-vision-inner p {
    font-size: 1.25em;
}
.our-vision-wrapper h5 {
    font-size: 1.65em;
    margin-top: 1em;
}
.our-vision-wrapper button {
    font-size: 1.35em;
}
.our-vision-wrapper h2 {
    font-size: 1.95em;
    margin-top: 1em;
}
.testimonials-inner img {
    width: 50%;
    margin: 0 25%;
}
.testimonials-inner p {
    font-size: 1.15em;
}
/* ----------- Our Team ---------
-------------------------------------*/
.our-team-wrapper h1 {
    font-size: 1.8;
}
.our-team-wrapper > p {
    font-size: 1.35em;
}
.individual-employee-cards h4 {
    font-size: 1.36em;
}
.individual-employee-cards h5 {
    font-size: 1.1em;
}
.individual-employee-cards p {
    font-size: 1em;
}
/* ----------- Our Team ---------
-------------------------------------*/
.office-locations button {
    font-size: 1.25em;
    width: 30%;
    margin-right: .45em;
}
.office-location-inner {
    font-size: 1.3em;
}
.office-locations h5 {
    font-size: 1em;
}
.contact-form-wrapper input, .contact-form-wrapper select, .contact-form-wrapper textarea, .contact-form-wrapper button{
    font-size: 1.1em;
}
}
@media only screen and (min-width:1024px) {
    /* index .html  */
    body {
        font-size: 1.45em;
    
    }

    .header-wrapper {
       position: relative;
    }
    .header-wrapper nav {
        border: none;
        position: absolute;
        width: 100%;
    }
    #mobileOverlay {
        display: none;
    }
    .owl-carousel {
        margin-top: -5em;
        height: 900px;
    }
    .title-page-content {
        height: 800px;
    }
    .title-page-content img {
        height: 100%;
        width: 100%;
    }
    .header-wrapper nav ul {
        display: grid;
        grid-template-columns: 430px  1fr 1fr 1fr  1fr;
        text-align: left;
    }
    #navigation-button {
        display: none;
    }
    .header-wrapper nav ul li {
        font-family: 'Raleway', serif;
        color: white;
        text-shadow: 1px 1px black;
        cursor: pointer;
    }
    #mobileMenu {
        display: none;
    }
    .no-show-mobile {
        display: block;
        margin-top: 40%;
    }
    .header-logo  {
        width: 400px;
    }
    .main-content-wrapper h3 {
        text-align: center;
    }
    .company-pictures {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-gap: 3%;
        margin: auto;
        width: 90%;
        grid-template-areas: 
        "one one two three" 
        "one one four five"   
    }
    .boxA {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .boxA > img {
        height: 100%;
    }
    .boxA div img {
        width: 290px;
        height: 100px;
        margin: 35% 0 0 18%;
    }
    .smaller-box {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .smaller-box  img {
        width: 100%;
        height: 100%;

    }
    .smaller-box div img {
        margin: 35% 11% 0 11%;
        width: 170px;
        height: 50px;
    }
    #logo-correction {
        width: 100px;
        margin: 30% 28%;
    }
    #logo-correction1 {
        width: 100px;
        margin: 35% 28%;
    }
    .investment-approach-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3%;
    }
    .investment-approach-content div {
        margin: 0 auto;
        width: 150px;
        height: 150px;
    
    }
    .investment-approach-content div img {
       width: 70px;
       height: 70px;
       margin-top: .4em;
    }
    .news-content {
        grid-template-columns: 1fr 1fr ;
    }
    .legal-wrapper {
        font-size: .7em;
        width: 80%;
        margin: 0 auto;
    }
    .legal-wrapper > p {
        text-align: left;
        
    }
    .legal-wrapper p:last-child {
        text-align: right;
        padding-left: 10em;
        width: 100%;
    }
    /* About page */
    .about-page-header {
        margin-top: -5em;
        height: 100%;
    }
    .about-page-header img {
        height: 800px;
    }
    .about-page-information {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .why-ocean-capital h3 {
        margin: 1.5em 0;
    }
    #about-us-mobile-owl {
        display: none;
    }
    .why-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* Our Vision */
    .our-vision-section-one{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3%;
    }
    .display-none {
        display: none;
    }
    .our-vision-inner h1 {
        font-size: 1.5em;
    }
    .our-vision-inner p {
        font-size: 1.1em;
    }
    #hr-no-show {
        display: block;
    }
    .testimonials-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3%;
    }
    #positioning-fix {
        padding-top: 3.25em;
    }
    .testimonials-inner img {
        width: 250px;
    }
    .office-locations {
        width: 90%;
        margin: 0 auto;
        padding-top: 2em;
    }
    .contact-wrapper{
        margin-bottom: 7em;
    }
}
@media only screen and (min-width: 1440px) {
    #navbar {
        position: fixed;
        background-color: inherit;
        z-index: 100;
    }
    .header-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;
    }
    .title-page-content {
        height: 100%;
    }
    .title-page-content img {
        height: 830px;
    }
    .title-page-content h1 {
    font-size: 2.5em;
    width: 80%;
    }
    .header-wrapper nav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
    }
    .header-wrapper nav ul li {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1em;
        list-style: none;
        color: white;
        text-shadow: none;
    }
    .header-wrapper nav ul li:hover {
        color: rgba(255, 255, 255, 1);
    }
    #navigation-button {
        display: block;
        color: white;
        background: none;
        border: white solid 3px;
        padding: 10px 15px;
        margin: 2.1em 0 0 0 ;
        font-size: .9em;
        font-family: Raleway;
        cursor: pointer;
    }
    .header-logo {
        margin-right: 10em;
    }
    .main-content-wrapper h2 {
        width: 80%;
        text-align: center;
        
    }
    .company-wrapper {
        position: relative;
        z-index: -1;
    }
    .company-pictures {
        width: 70%;
        margin: 0 auto;
    }
    .investment-approach-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 2em 0 2em 0;
    }
    .investment-approach-content p {
        font-size: 1em;
    }
    .news-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footer-contact-inner h6 {
        padding-bottom: 1em;
    }
    .footer-contact-inner p {
        padding-bottom: 1em;
    }
    /* About page */ 
    .about-page-header img {
        height: 830px
    }
    .about-page-header h1 {
        margin-left: 1em;
    }
    .about-page-main-title {
        position: relative;
        z-index: -19;
    }
    .about-page-main-title h2 {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5em;
        padding-bottom: 1em;

    }
    .about-page-main-title p {
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 40px;

    }
    .about-page-information {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background: rgba(16, 92, 177, .7);
        position: relative;
        z-index: -10;
    }
    .about-page-information-inner h2 {
        font-size: 1.4em;
    }
    .about-page-information-inner p {
        font-size: 1em;
    }
    .why-us {
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }
    .mobile-why-inner h4 {
        font-size: 1em;
    }
    .mobile-why-inner p {
        font-size: .89em;
    }
    /* our vision page */ 
    .our-vision-inner {
        margin-top: 2em;
        position: relative;
        z-index: -10;
    }
    .our-vision-inner h1 {
        font-size: 1.3em;
    }
    .our-vision-inner p {
        font-size: 1em;
    }
    .our-vision-wrapper h5 {
        font-size: 1.2em;
        position: relative;
        z-index: -1;
    }
    .our-vision-wrapper button {
        font-size: 1em;
        position: relative;
        z-index: -1;
    }
    .testimonials-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        z-index: -10;
    }
    .testimonials-wrapper h2 {
        font-size: 1em;
    }
    .testimonials-inner p {
        font-size: 1em;
    }
    .testimonials-inner img {
        width: 250px;
        height: 150px;
        margin: 0;
    }
    /* the team page */ 
    .our-team-wrapper h1 {
        font-size: 1.5em;
    }
    .our-team-wrapper p {
        font-size: 1.2em;
    }
    .team-members-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .team-left {
        position: relative;
        z-index: -10;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .team-left img {
        width: 90%;
        height: 380px;
    }
    .team-left h4 {
        font-size: 1em;
        margin-top: 2em;
    }
    .team-left h5 {
        font-size: 1em;
    }
    .team-left p {
        font-size: .9em;
    }
    .team-left hr {
        width: 200%;
    }
    .team-right {
        position: relative;
        z-index: -10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
    }
    .team-right img {
        width: 90%;
        height: 380px;
        grid-area: b;
    }
    .team-right h4 {
        font-size: 1em;
        margin-top: 2em;
    }
    .team-right h5 {
        font-size: 1em;
    }
    .team-right p {
        font-size: .9em;
        width: 90%;
    }
    .team-right hr {
        width: 200%;
    }
    /* Contact page */
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 5;
    }
    .contact-form-wrapper input {
        font-size: .7em;
    }
    .contact-form-wrapper select {
        font-size: .7em;
    }
    .contact-form-wrapper textarea {
        font-size: .7em;
    }
    .contact-form-wrapper button {
        font-size: .7em;
    }

    
}