* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: IBM Plex Sans;
}
a,
a:visited {
	color: inherit;
	text-decoration: none;
}
@media only screen and (min-width:300px) {	 
	
	header {
		width: 100%;
		padding:  5%; 
		display: -ms-grid; 
		display: grid;
		-ms-grid-columns: 60% 1fr;
		    grid-template-columns: 60% 1fr; 
		background: #00CCCC;
		color: white;
		position: fixed;
		z-index: 5;
		
		
	}
	.main-wrapper {
		width: 100%;
	}
	/* Naviagtion + logo */
	.logo {
		font-size: 1.1em;
		margin: 5%;
	}
	#menu {
		text-align: right;
		font-size: 17px;
		margin: 10% 10% 0 0 ;
		cursor: pointer;
	}
	/* Mobile Nav Pop Up */ 
	.modal {
		position: fixed;
		width: 100%;
		top: 0; 
		
	}
	.modal-content {
		width: 100%; 
		height: 567px;
		background: #00CCCC; 
		z-index: 6; 
	}
	.modal-content h3 {
		font-size: 1.6em;
		padding: 15px;
	}
	.modal-content ul {
		list-style: none; 
	}
	.modal-content ul li {
		text-align: left;
		padding: 1.6em 0 ; 
		border-bottom: solid white 1px;
		margin-bottom: 8px;
		font-size: 1.19em;
		padding-left: 1em;
	}
	#close {
		font-size: 36px;
		float: right;
		margin: -14.7em .9em 0 0 ;
	}
	#close:active,
	#close:hover {
		color: black;
		cursor: pointer;

	}
	/* Mobile Nav Pop Up - Animaiton */ 
	.modal {
		-webkit-transition: -webkit-transform 1.5s ease;
		transition: -webkit-transform 1.5s ease;
		-o-transition: transform 1.5s ease;
		transition: transform 1.5s ease;
		transition: transform 1.5s ease, -webkit-transform 1.5s ease;
		-webkit-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
		        transform: translateX(-100%);

	}
	.main-wrappper {
		-webkit-transition: -webkit-transform 1.5s ease;
		transition: -webkit-transform 1.5s ease;
		-o-transition: transform 1.5s ease;
		transition: transform 1.5s ease;
		transition: transform 1.5s ease, -webkit-transform 1.5s ease;		
	}
	/* Title */
	.title {
		width: 80%;
		font-size: 2.8em;
		z-index: -5;
		margin:   auto;
		text-align: left;
		font-weight: 400;
		padding-top: 2em;
		padding-bottom: 2em;
		
	}
	/* Projects */ 
	.project-background {
		padding: 3em 0;
	}
	.project-background:nth-child(odd) {
		background: #00CCCC;
	}
	.project-background:nth-child(even) {
		background: white; 
			/*#096B72; */
	}
	.projects {
		width: 100%;
		font-size: .9em;
		color: white;
	}
	.projects h4 {
		width: 80%;
		margin: auto;
		font-weight: 600;
		padding-top: .5em;
		
	}
	.projects h4:nth-child(even) {
		color: black;
	}
	.description {
		font-weight: 2;
		
	}
	.projects img {
		width: 80%;
		height: 100%;
		margin: 0 10%; 
		
	}
	/* Projects - animation */ 
	.project-img-wrapper {
		position: relative;
		width: 100%;
		padding-top: 1em;
	}
	.overlay {
		background: rgba(0,204,204, .8);
		opacity: 0;
		width: 80%; 
		height: 93%;
		top: 10px;
		left: 2.61em;
		position: absolute;
		z-index: 100;
		-webkit-transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		transition: opacity 1s ease;
	}
	.overlay:hover {
		opacity: 1;
	}
	.overlay p {
		font-size: 1.5em;
		width: 60%;
		margin: auto;
		text-align: center;
		padding-top: 2.6em;
		color: white;
		font-weight: 600;
		cursor: pointer;
	}
	/* Footer */ 
	.footer {
		background: black;
		width: 100%;
		margin: auto;
		height: 50px;
		color: white;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 80% 1fr;
		    grid-template-columns: 80% 1fr;
	}
	.footer p {
		padding: 15px 0 0 20px;
	}
	.footer i {
		font-size: 26px;
		padding: 10px 0 0 0;
		cursor: pointer;
	}

	

	
	

}
@media only screen and (min-width: 400px) {
	.title {
		width: 70%;
		padding-bottom: 1em;
		padding-top: 3em;
	}
	.modal-content {
		z-index: 6;
		height: 735px
	}
	.modal-content ul li {
		font-size: 1.4em;
	}
	#close {
		margin-top: -10.44em;
		font-size: 60px;
	}
	.overlay {
		width: 81.3%;
	}
}
@media only screen and (min-width: 768px) {
	/* Resizing the navigation */
	.logo {
		font-size: 2em;
	}
	#menu {
		font-size: 35px;
		margin-top: 20px;
	}
	.title {
		padding-top: 6em;
		padding-bottom: 3em;
	}
	/* Resizing the mobile nav */
	.modal-content {
		height: 1031px;
	}
	.modal-content h3 {
		font-size: 2em;
	}
	#close {
		font-size: 60px;
		margin-top: -13.4em;
	}
	.modal-content ul li {
		font-size: 1.9em;
	}
	/* Resizing the projects */
	.projects h4 {
		font-size: 2em;
	}
	/* Overlay */
	.overlay {
		width: 80.5%;
		height: 95%;
		left: 75px;
		top: 14px;
	}
	.overlay p {
		font-size: 2.8em;
	}

	
}
@media only screen and (min-width: 1024px) {
	/* Resizing the navigation */
	header {
		-ms-grid-columns: 50% 1fr;
		    grid-template-columns: 50% 1fr 
	}
	.logo {
		font-size: 2.7em;
	}
	#menu {
		padding-top: .3em;
	}
	/* Resizing the mobile nav */
	.modal-content {
		width: 100%;
		margin-top: 4em;
		opacity: 1;
		
	}
	.modal-content h3 {
		font-size: 3em;
	}
	#close {
		font-size: 80px;
		margin-top: -11.3em;
	}
	.modal-content ul li {
		font-size: 2.1em;
	}

	/* Resizing the Title */
	.title {
		font-size: 4em;
	}
	/* Resizing the Projects */
	.projects {
		padding-top: 3em
	}
	.projects h4 {
		font-size: 2.5em;
	}
	/* Resizing the Overlays */
	.project-img-wrapper img {
		width: 800px 
	}
	.overlay {
		width: 81%;
		height: 100%;
	}
	.overlay p {
		font-size: 4em;
		padding-top: 3.4em;
	}

	
	

}
@media only screen and (min-width: 1100px) {
	.projects-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr ;
		    grid-template-columns: 1fr 1fr ;
		width: 100%;
	}
	.project-img-wrapper img {
		width:80%; 
	}
	.projects h4 {
		font-size: 2em;
	}
	.project-background:nth-child(1) {
		
	}
	.project-background:nth-child(3) {
		background: white;
	}
	.project-background:nth-child(4) {
		background: #00CCCC;
	}
	.project-background:nth-child(5) {
		background: white;
		width: 200%;
		margin-top: 1em;
	}
	.footer {
		font-size: 2em;
		height: 80px;
	}
	.modal {
		padding: 0;
		margin: 0;
		width: 100%; 
	}
	.modal-content {
		width: 100%; 
		margin: 0; 
		padding: 0; 
	}
	.footer i {
		font-size: 50px;
	}
	.overlay {
		width: 80.3%;
		height: 95%;
		top: 15px;
		left: 70px;
	}
	.overlay p {
		font-size: 2em;
		margin-top: 1em;
	}
	#title {
		padding-top: 0;
	}
	header {
		padding: 1%;
	}
	#overlay-fix {
		width: 80.1%;
		height: 97%;
		left: 143px;
		font-size: 2em;
	}
	#menu {
		padding-top: .7em;
	}
	.modal-content {
		
	}
	.modal-content ul li {
		padding: 1em;
	}
	#close {
		margin-top: -8em;
	}
}