* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: BMP lex Sans
}
h1, h2, h3, h4, h5, h6, p {
		font-family: 'IBM Plex Sans', sans-serif;

}
/* Styling the Main Elements */ 
body {
	background: rgba(53 234 100);
}
.title  {
	width: 50%;
	margin:  auto;
	margin-top: 2em;
	text-align: center;
	font-size: 2em;
	color: white;
	letter-spacing: 1px;
	
}
.main {
	width: 70%; 
	margin:auto;
	text-align: center;
	position: relative;
	margin-top: 4em;
}
.badge {
	position:absolute;
	top: -1em;
	left: 36%;
	font-size: 1.3em;
	font-family: poppins; 
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: lowercase;
	background: white;
	color: rgba(53 234 100);
	padding: .4em;
	border: rgba(53 234 100) solid 5px;;
	
}
.clock {
	padding: 1.3em 0 ;
	font-size: 7em;
	background: white;
	color: rgba(53 234 100);
	font-family: 'IBM Plex Sans', sans-serif;
}
span {
		font-family: 'IBM Plex Sans', sans-serif;

}
p {
	font-size: .5em;
}