/* Universal Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
a {
	text-decoration: none;
	color: inherit;
}

/* Pre-styling all elements with the same font-family - using DRY coding methods */
h1,h2,h3,h4,h5,h6,p,li{
	font-family: poppins; 
	font-weight: 400;
	
}
body {
	    background-color: #f5f5f5;
	
}

/* Styling the header  */
header {
	background-image: url(template-pictures/backgorund-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 52em;
	
}
/* styling the border under the navigation   */
.navigationContainer {
	border-bottom: 1px solid #717070;
	padding-top: 10px;
	
}
/* Splitting up the nav divs using CSS grid  */
.navigationWrapper {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 70% 1fr; 
	margin-bottom: 10px;
	
}
/* Styling the logo  */
.logoWrapper {
	width: 30%;
	margin: auto
}
.logoWrapper p {
    margin: 4px 0;
    font-weight: 700;
    display: block;
    float: left;
    padding: 0 15px;
    font-size: 25px;
    background: white;
    color: black;
    border-radius: 2px;
	font-family: Poppins;
}
/* Styling the Links  */
.linksWrapper ul {
	display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0px;
	width: 90%;
	margin: auto;
	padding-top: 16px;
	list-style: none;
	font-size: .9em;
}
.linksWrapper ul li {
	 display: block;
    font-size: 14px;
    color: rgb(230, 230, 230);
	font-family: Poppins, sans-serif;
	text-align: center;
}
/* Styling the icons  */
.socialLinksWrapper {
	margin: auto;
	
}
.icons {
	margin: 6px;
	padding: 6px;
	width: 30px;
	text-align: center;
	border: solid rgb(230, 230, 230) .5px; 
	border-radius: 100px;
    color: rgb(230, 230, 230);
	
}

/* Hover Animations for the navigation  */

/* Assigning the transition property + duration  */
.navigationContainer  {
	transition: background .4s ease-in-out;
}
.logoWrapper p {
	transition-property: color, background; 
	transition-duration: .4s;
	transition-timing-function: ease-in-out;

}
.linksWrapper ul li {
	transition: color .4s ease-in-out;
}
.icons {
	transition-property: color, border;
	transition-duration: .4s;
	transition-timing-function: ease-in-out;
}
/* Assigning the hover transition to elements */
.navigationContainer:hover {
	background: white;
}
.navigationContainer:hover .logoWrapper p {
	background: black;
	color: white;
}
.navigationContainer:hover .linksWrapper ul li {
	color: rgb(0, 0, 0, 0.7);
}
.navigationContainer:hover .icons {
	    color: black;
	border: solid black .5px;

	
}
.linksWrapper ul li a:hover {
	color: rgb(0, 0, 0, 1);
	
}
.socialLinksWrapper a i:hover {
    color: rgba(255,255,255,1);
	background: rgba(0, 0, 0, 0.3);
	
}

/* END OF NAVIGATION */

/*Style the tite */
.landingPageTitleWrapper {
	width: 72%;
	margin: 14em auto;
}
.landingPageTitleWrapper h1{
	font-family: 'Poppins', sans-serif;
	font-size: 4em;
    font-weight: 700;
    margin: 0;
    line-height: 1;
	color: white;
	 
}
.landingPageTitleWrapper h2{
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
    font-weight: 700;
    margin: 0;
    line-height: 3;
	color: white;
	 
}
/*Style the downarrow */

.downArrowWrapper {
	width: 50%;
	margin: auto;
	padding-top: 4em;
	text-align: center;
	
}
.downArrow {
	color: white;
	
	
}
/*Using a keyframe animation on the arrow */
  .fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
animation-iteration-count: infinite;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
  @keyframes fadeOutDown {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  }
/*Styling the about me seciton */



/*Styling the background */
.aboutMeBackground {
		background-color: #f5f5f5;

	
}
/*Assigning the grid method to tags */
.aboutMeWrapper {
	width: 70%;
	padding-top: 20px;
	background-color: #f5f5f5;
	margin: auto;
	display: grid; 
	grid-template-columns:  60% 40%;
	grid-template-rows: 60% 40%;
	grid-gap: 20px;
	grid-template-areas:  
		"one three"
		"two three"
}
/* Numeber -1  */
.aboutMeWrapper1{
	grid-area: one;
}
.aboutMeWrapper1 h3 {
	font-family:  poppins;
	font-size: 3.5em;
	font-weight: 700;
}
.aboutMeWrapper1 h4 {
	font-family:  poppins;
	font-size: 1.5em;
	font-weight: 300;
}
/* Numeber -2  */
.aboutMeWrapper2{
	grid-area: two;
}
.aboutMeWrapper2 p {
	line-height: 1.8;
    font-size: 14px;
    color: #666;
    font-weight: 400;
	
}
/* Numeber -3  */
.aboutMeWrapper3{
	grid-area: three;
	margin: auto;
}
.aboutMeWrapper  img {
	width: 450px;
	height: 350px;
	
}
/*Styling the skills + Experience section */
.mySkillsExperienceWrapperBackground {
	background-color: #f5f5f5;
	padding-bottom: 80px

	
}
.mySkillsExperienceWrapper {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;

}
/*Styling the skills */
.mySkillsWrapper {
	display: block;
	width: 90%;
	padding-top: 40px;
}
.mySkillsWrapper h4 {
	font-family:  poppins;
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 20px;
	
	
}
/*Styling the skills bars no-1 */
.mySkillsBar {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 22% 70% 8%;
	margin-bottom: 30px;
	;
	
}
.mySkillsBarLayer1 {
	background-color: #555;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
}
.mySkillsBarLayer1 p {
	color: white;
	font-size: .8em;
	padding: 2px;
	font-weight: 300;
	text-align: left;
	
}
.mySkillsBarLayer2 {
	background-color: #777;
	text-align: right;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mySkillsBarLayer3 {
	background-color: white;
	text-align: right;
}
.mySkillsBarLayer3 p {
	font-size: .9em;
	padding: 6px;
}
/*Styling the skills bars no-2 */
.mySkillsBar2 {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 20% 65% 15%;
	margin-bottom: 30px;
	;
	
}
.mySkillsBarLayer4 {
	background-color: #555;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
}
.mySkillsBarLayer4 p {
	color: white;
	font-size: .8em;
	padding: 3px;
	font-weight: 300;
	text-align: left;
	
}
.mySkillsBarLayer5 {
	background-color: #777;
	text-align: right;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mySkillsBarLayer6 {
	text-align: right;
}
.mySkillsBarLayer6 p {
		font-size: .9em;
		padding: 6px;
	
}
/*Styling the skills bars no-3 */
.mySkillsBar3 {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 18% 73% 8%;
	margin-bottom: 30px;
	;
	
}
.mySkillsBarLayer7 {
	background-color: #555;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
}
.mySkillsBarLayer7 p {
	color: white;
	font-size: .8em;
	padding: 2px;
	font-weight: 300;
	text-align: left;
	
}
.mySkillsBarLayer8 {
	background-color: #777;
	text-align: right;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mySkillsBarLayer9 {
	background-color: white;
	text-align: right;
}
.mySkillsBarLayer9 p {
		font-size: .9em;
	padding-top: 5px;
	
}
/*Styling the skills bars no-4*/
.mySkillsBar4 {
	width: 100%;
	background-color: white;
	display: grid;
	grid-template-columns: 10% 60% 30%;
	margin-bottom: 30px;
	;
	
}
.mySkillsBarLayer10 {
	background-color: #555;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 5px;
}
.mySkillsBarLayer10  p {
		color: white;
	font-size: .8em;
	padding: 2px;
	font-weight: 300;
	text-align: left;
	
}
.mySkillsBarLayer11 {
	background-color: #777;
	text-align: right;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mySkillsBarLayer12 {
	background-color: white;
	text-align: right
}
.mySkillsBarLayer12 p {
			font-size: .9em;
	padding-top: 5px;

	
}
/*Styling the work experience section*/
.workExperienceWrapper {
	height: 100%;
	width: 113.5%;
}
.workExperienceWrapper h4 {
	font-family:  poppins;
	font-size: 2.5em;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 20px;
	
}
.workExperienceInfo {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr 1fr; 
	grid-gap: 20px;
	width: 100%;
	height: 60%;
}
/*Styling the individual cards */
.workExperiencecard1, .workExperiencecard2, .workExperiencecard3, .workExperiencecard4 {
	background: white; 
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.workExperiencecard1 h6, .workExperiencecard2 h6, .workExperiencecard3 h6, .workExperiencecard4 h6  {
	font-size: 1.1em;
	display: block;
	width: 80%;
	margin-left: 10px;
	padding-top: 25px
}
.workExperiencecard1 p, .workExperiencecard2 p, .workExperiencecard3 p {
	display: inline-block;
	width: 45%;
	margin-left: 10px;
	font-weight: 300;
}
.workExperiencecard4 p{
	display: inline-block;
	width: 45%;
	margin-left: 10px;
	font-weight: 300;
	
}
/*Stying the project bar */
.projectBarBackground {
		background-color: #333;
}
.projectBar {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15%;
	padding: 50px;
	
}
.projectBarCard1 h6, .projectBarCard2 h6, .projectBarCard3 h6, .projectBarCard4 h6  {
	color: white;
	font-size: 5em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
}
.projectBarCard1 p, .projectBarCard2 p, .projectBarCard3 p, .projectBarCard4 p {
	color: white;
	text-align: center;
	font-size: 1.2em;
	font-weight: 100;
	
}

/*Stying My Services */
.myServicesBackground {
			background-color: #f5f5f5;
			padding-bottom: 50px;
}
.myServices {
	width: 70%; 
	margin: auto;
	display: grid;
	grid-template-columns: 44% 56%; 
	grid-gap: 5%;
	padding-top: 50px;
	
}
.myServices1 h5 {
	font-size: 2.5em;
	font-weight: 700;
}
.myServices1 h6 {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 30px;
}
.myServices1 p {
	font-weight: 100;
    font-size: 14px;
    color: #666;
    font-weight: 400;
}
.myServicesIcons {
	margin-top: 30px;
	display: grid;
	grid-template-columns: 8% 42% 8% 42%;
}
.myServicesIcons p {
	font-size: 1.15em;
	color: black; 
}
.myServicesIcons i {
	font-size: 25px;
	
}
/*Stying My Services  Cards*/
.myServices2 {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-gap: 30px;
	width: 100%; 
	height: 100%;
}
/*Stying the individual Services Cards*/
.myServicesCard1, .myServicesCard2, .myServicesCard3, .myServicesCard4 {
	background: white;
	    box-shadow: 0 3px 16px rgba(0,0,0,.1);
}
.myServicesCard1 i, .myServicesCard2 i , .myServicesCard3 i , .myServicesCard4 i {
	font-size: 33px;
	margin:  20px 0 5px 20px  ; 
}
.myServicesCard1 h6, .myServicesCard2 h6, .myServicesCard3 h6, .myServicesCard4 h6 {
	margin:  10px 0 5px 10px  ; 
    font-weight: 400;
    font-size: 18px;
}
.myServicesCard1 p, .myServicesCard2 p, .myServicesCard3 p, .myServicesCard4 p  {
	font-size: .75em;
	color: grey; 
	width: 90%;
	font-weight: 200;
	margin:  10px 0 10px 10px  ; 

}
/*Stying the call to action banner*/
.callToActionBanner {
	width: 100%;
	height: 200px;
	
	background-image: url(template-pictures/architecture-buildings-city-311012.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}
.callToActionBannerWrapper {
	width: 70%; 
	margin: auto;
	padding-top: 40px;
}
.callToActionBannerWrapper h5 {
	font-size: 1.3em;
	color: white;
	font-weight: 700;
}
.callToActionBannerWrapper h6 {
	font-size: 2.5em;
	font-weight: 700;
	
	color: white;
}
.callToActionBannerWrapper button {
	padding: 9px 30px;
	margin-top: 10px;
	border-radius:  40px;
	color: grey; 
	background: white; 
	border: solid grey 1px; 
	font-size: 1.1em;
	
}
/*Button Animations*/
.callToActionBannerWrapper button {
	transition-property: background, color, border;
	transition-duration: .9s; 
	transition-timing-function: ease;
}
.callToActionBannerWrapper button:hover {
	background: black;
	color: white;
	border: solid 1px black;
}
/*Stying my Projects*/
.myProjects {
	width: 70%;
	margin: auto;
	padding-top: 4em;
	
}
.myProjects h4 {
	font-size: 2.5em;
	font-weight: 700;
}
.myProjects h5 {
	font-size: 1.2em;
	font-weight: 200;
	margin-bottom: 1.8em;
	
}
/*Stying my Projects - Creating the grid*/
.myProjectsWrapper {
	display: grid; 
	width: 100%; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-gap: 12px;
	grid-template-areas: 
		"a a b b"
		"c d e f"
		
	
	
}
/*Project Card 1*/
.myProjectsCard1 {
	grid-area: a; 
	position: relative;
}
.myProjectsOverlay1 {
	position: absolute;
	opacity: 0;
	top: 0; 
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 
	transition: opacity .5s ease-in-out; 

}
.myProjectsOverlay1 h6 {
	font-size: 2em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay1 p {
	text-align: center;
	font-size: 1em;
	color: white;
}
/*Project Card 1 - animation */
.myProjectsCard1:hover .myProjectsOverlay1 {
	opacity: 1;
}
/*Project Card 2*/
.myProjectsCard2 {
	grid-area: b; 
	position: relative;
	transition: background 1s ease-in-out; 

}
.myProjectsOverlay2 {
	position: absolute;
	top: 0; 
	opacity: 0;
	transition: opacity .5s linear;
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 

	
	
}
.myProjectsOverlay2 h6 {
	font-size: 2em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay2 p {
	text-align: center;
	font-size: 1em;
	color: white;
}
/*Project Card 2 - animation */
.myProjectsCard2:hover .myProjectsOverlay2 {
	opacity: 1;
}
/*Project Card 3*/
.myProjectsCard3 {
	grid-area: c; 
	position: relative;
	transition: background 1s ease-in-out; 

}
.myProjectsOverlay3 {
	position: absolute;
	top: 0; 
	opacity: 0;
	transition: opacity .5s linear;
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 

	
	
}
.myProjectsOverlay3 h6 {
	font-size: 1.4em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay3 p {
	text-align: center;
	font-size: .9em;
	color: white;
}
/*Project Card 3 - animation */
.myProjectsCard3:hover .myProjectsOverlay3 {
	opacity: 1;
}
/*Project Card 4*/
.myProjectsCard4 {
	grid-area: d; 
	position: relative;
	transition: background 1s ease-in-out; 

}
.myProjectsOverlay4 {
	position: absolute;
	top: 0; 
	opacity: 0;
	transition: opacity .5s linear;
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 

	
	
}
.myProjectsOverlay4 h6 {
	font-size: 1.4em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay4 p {
	text-align: center;
	font-size: .9em;
	color: white;
}
/*Project Card 4 - animation */
.myProjectsCard4:hover .myProjectsOverlay4 {
	opacity: 1;
}
/*Project Card 5*/
.myProjectsCard5 {
	grid-area: e; 
	position: relative;
	transition: background 1s ease-in-out; 

}
.myProjectsOverlay5 {
	position: absolute;
	top: 0; 
	opacity: 0;
	transition: opacity .5s linear;
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 

	
	
}
.myProjectsOverlay5 h6 {
	font-size: 1.4em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay5 p {
	text-align: center;
	font-size: .9em;
	color: white;
}
/*Project Card 5 - animation */
.myProjectsCard5:hover .myProjectsOverlay5 {
	opacity: 1;
}
/*Project Card 6*/
.myProjectsCard6 {
	grid-area: f; 
	position: relative;
	transition: background 1s ease-in-out; 

}
.myProjectsOverlay6 {
	position: absolute;
	top: 0; 
	opacity: 0;
	transition: opacity .5s linear;
	background: rgba(0,0,0,.9); 
	width: 100%;
	height: 100%; 

	
	
}
.myProjectsOverlay6 h6 {
	font-size: 1.4em;
	text-align: center;
	margin-top: 4em;
	font-weight: 700;
	color: white;
}
.myProjectsOverlay6 p {
	text-align: center;
	font-size: .9em;
	color: white;
}
/*Project Card 6 - animation */
.myProjectsCard6:hover .myProjectsOverlay6 {
	opacity: 1;
}
/*Styling the images */
.myProjectsCard1 img, .myProjectsCard2 img {
	width: 100%;
}
.myProjectsCard3 img, .myProjectsCard4 img, .myProjectsCard5 img, .myProjectsCard6 img {
	width: 100%;
	height: 100%;
}

/*Styling the review section */
.reviewsBackground {
	margin-top: 3em;
	background-image: url(template-pictures/background-board-carpentry-301378.jpg);
	width: 100%;
	background-size: cover; 
	background-position: center;
	padding-bottom: 4em;
	
}
.reviewsWrapper {
	width: 70%;
	margin: auto; 
}
/*Styling the review Title */
.reviewsWrapper h4  {
	font-size: 2.8em;
	font-weight: 700;
	padding-top: 1.2em;
	color: white
	
}
.reviewsWrapper > p  {
	font-size: 1.3em;
	font-weight: 500;
	color: white;
}
/*Creating the grid */
.reviewsCardWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-gap: 1%;
	margin-top: 2.5em;
}
/*Styling the cards */
.reviewCard1{
	    background: white;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
/*Creating another grid as i hate using inline block  */
.reviewCardInner {
	display: grid;
	grid-template-columns: 30% 70%;
}
.reviewCard1 img {
	border-radius: 100%;
	width: 80px;
	
}
.reviewNameWrapper {
	margin-left: 6px;
	margin-bottom: 1.5em;
}
/*Styling all the elements  */
.reviewCard1 h5{
	font-size: 1.2em;
	font-weight: 400; 
	margin-top: 1.6em;
}
.reviewCard1 h6 {
	font-size: .8em;
	font-weight: 400; 
	
}
.reviewCard1 p {
	font-size: .9em;
	font-family: poppins;
	line-height: 1.7;
	font-style: italic;
	color: #656565;
	
	
	
	
	
}

/*Pricing Section  */
/*Pricing Section - Styling the Title  */
.pricingWrapper {
	width: 70%;
	margin: auto; 
	padding-top: 2em;
}
.pricingWrapper > h6 {
	font-size: 3em;
	font-weight: 700;
}
.pricingWrapper > p {
	font-size: 1.2em;
	font-weight: 400;
}
/*Pricing Section  - creating the grid & cards */
.pricingCardsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	grid-gap: 5%;
	margin-top: 2em;
}
.pricingCards {
	background: white;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	transition-property: box-shadow;
	transition-duration: .7s;
	margin-bottom: 5em;
}
.pricingCards:hover {
	box-shadow: 2px 5px 7px  5px rgba(0,0,0,.1);
	
}
/*Pricing Section  - coloured boxes at top */
.pricingCardsTitle {
	background: #333;
	color: white;
	padding: 20px;
	margin-bottom: 2em;
}
.pricingCardsTitle h5 {
	font-size: 1em;	
}
/*Pricing Section  - underlining the title */
.pricingTitleUnderline {
	border-bottom: 1px solid #484747;
		padding-bottom: 1em;

}
.pricingCardsTitle h6{
	font-size: 4em;
	font-weight: 700;
}
.pricingCards p {
	padding: 10px;
}
.pricingCards button {
	padding: 10px 40px;
	border-radius: 30px;
	margin-top: 2em;
	margin-bottom: 2em;
	background: #333;
	color: white;
	font-size: 1em;
	font-family: poppins;
	transition-property: color, background;
	transition-duration: .5s;
	transition-timing-function: ease; 
}
.pricingCards button:hover {
	color: #333;
	background: white;
}
/*---------Footer------------ */
footer {
	background: #333;
}
.getInTouchWrapper {
	width: 70%;
	margin: auto;
}
.getInTouchWrapper h6 {
	color: white;
	font-size: 2.6em;
	font-weight: 700;
	padding-top: 1.2em;
}
.getInTouchWrapper > p {
	color: white; 
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 2.5em;
}
/*Footer contact details  */
.ContactFrom {
	display: grid; 
	grid-template-columns:  35% 75%; 
	grid-gap: 5%;
	padding-bottom: 3em;
}
.contactWrapper {
	display: grid; 
	width: 100%;
	grid-template-columns: 7% 93%;
	

}
.contactWrapper i {
	color: #c5c3c3;
	font-size: 1.1em;
	padding: 6px
}
.contactWrapper p {
	margin-bottom: .7em;
	color: #c5c3c3;
	margin-left: 2em;
	
	}
/*Footer contact form  */
fieldset {
	border: none;
}
input {
	display: inline-block;
	width: 47%; 
	margin-right: 14px;
	font-size: 0.9em; 
	padding: 10px;
	background: none;
    border: 1px solid #666;
    height: 40px;
    color: #fff;
	font-family: poppins;
	border-radius: 10px;
}
textarea {
	width: 96.6%; 
	margin-top: 20px;
	height: 6em;
	background: none; 
	font-size: 0.9em;
	font-family: poppins;
	border-radius: 10px; 
	border: 1px solid #666;
	padding: 10px;

}
.Form button {
	font-size: .8em;
	padding:  10px 20px;
	font-family: poppins;
	margin-top: 2em;
	border-radius: 30px; 
	background: none; 
	color: white; 
	 border: 1px solid #666;
	transition-property: color, background;
	transition-duration: .6s;
	transition-timing-function: ease-out;

	
}
/*Footer contact form  animaitons */
.Form button:hover {
	color : black; 
	background: white;
}
/*Footer Map */
#map {
	width: 100%;
	height: 300px;
}
.copy{
	width: 70%; 
	margin: auto;
	text-align: center;
}
.copy p {
	color: white;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: .8em;
	padding: 20px;
}










