/* Starting off using the mobile first approach */
/* universal resets and font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, li, a, span {
    font-family: poppins;
    font-size: 1em;
}
button {
    cursor: pointer;
}
a,
a:visited {
    color: inherit;
    text-decoration: none;
}
@media only screen and (min-width:320px) {
   /* styling the login page */
   /* main Login page*/
   #index-body {
       position: relative;
       overflow: hidden;
   }
   .login-wrapper {
       background: cadetblue;
       width: 100%;
       height: 100%;
       overflow: hidden;
       position: relative;
   }
   .login-content-wrapper {
       margin: auto;
       width: 60%;
       text-align: center;
       padding-top: 11em;
   }
   .login-content-wrapper i {
       font-size: 4em; 
       display: block;
       color: white;
   }
   .login-content-wrapper button {
       border: solid white 1.5px;
       background: none;
       color: white;
       letter-spacing: 2px;
       font-size: .8em;
       font-weight: 700;
       padding: 5px 10px;
       display: block;
       width: 100px;
       margin: 1.5em auto;
       
       
   }
   /* registration overlay */ 
   .registration-wrapper {
       background-color: black;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       transform: translateY(-100%);
       transition: 1s ease;
       
   }
   .registration-wrapper h1 {
       color: white;
       text-align: center;
       margin-top: 1em;
   }
   #regClose {
       font-size: 30px;
       font-weight: 100;
       position: absolute;
       top: 6.5px;
       right: 1.75em;
   }
   .registration-wrapper input {
       background: none;
       border: none;
       color: ghostwhite;
       display: block;
       margin: 1em auto;
       padding: 5px 0;
       text-align: center;
       border: solid white 1px;
       font-size: .9em;
       
   }
   .registration-wrapper button {
       color: white;
       border: solid white 2px;
       background: none;
       width: 100px;
       padding: 5px 0;
       margin: 2em 34.5%;
   }
   ::placeholder {
       color: ghostwhite;
   }
  




   /* Login overlay */
   .login-overlay {
       position: absolute;
       top: 100%;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, .9); 
       transition: top .3s ease-out;
       
   }
   .login-overlay-content {
       width: 70%;
       margin:  10em auto;
       text-align: center;
   }
   .login-overlay-content form input {
       width: 80%;
       font-size: 1em;
       padding: 4px 3px;
       margin: 1em 0;
   }
   .login-overlay-content form button {
        border: solid white 1.5px;
        background: none;
        color: white;
        letter-spacing: 2px;
        font-size: .8em;
        font-weight: 700;
        padding: 5px 10px;
        margin-top: 2em;
   }
   .login-overlay-content form span {
       color: white;
       font-size: 2em;
       position: absolute;
       top: 100px;
       right: 68px;
       cursor: pointer;
   }
   #incPassword {
       color: red;
       font-size: .8em;
       margin-top: 2em;
       text-transform: uppercase;
       letter-spacing: 4px;
   }
   /* Main-Page or home*/
   .homepage-body {
       position: relative;
   }
   .homepage-test {
       width: 100%;
       height: 100%;
       position: absolute;
       background-color: rgba(0, 0, 0, .6);
       z-index: 104;
       display: none;
    
       
   }
   /* Icons wrapper */
   .navigation-wrapper {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       text-align: center;
       position: fixed;
       bottom: 0;
       width: 100%;
       z-index: 100;
       position: fixed
   }
   .icons-wrapper {
       background: black;
       color: white;
   }
   .icons-wrapper i {
       font-size: 1.1em;
       padding: 20px;
   }
   .homepage-body {
       background: rgba(0, 0, 0, .9);
   }
   /* Top Banner */
   .banner-content {
    background: rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: 15% 70% 1fr;
    padding: 1em 0;
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 90;
    
   }
   .banner-content  h1 {
       color: white;
       font-size: 1em;
       padding: 8px 0 ;
       background: none;
       z-index: 0;
       text-align: center;
        
       
   }
   .banner-content img {
       color: white;
       text-align: left;
       margin-left: 1em;
       z-index: 20;
       width: 90%;
   }
   /* Profile slide in menu */
   .profile-menu {
       background: white;
       position: absolute;
       width: 75%;
       height: 600px;
       top: 0;
       z-index: 105;
       padding-left: 15px;
       transform: translateX(-100%);
       transition: transform .4s ease;
   }
   .profile-menu img {
       width: 30%;
       margin-left: -10px;
       margin-top: 20px; 
       text-align: left;
       
   }
   .profile-menu h4 {
       margin-top: .8em;
       font-size: 1em;
       font-weight: 600;
   }
   .profile-menu h5 {
    font-size: .9em;
    font-weight: 400;
    margin-bottom: .5em;
    margin-top: .3em;
   }
   .profile-stats {
       width: 100%;
       font-size: .9em; 
   }
   .profile-stats p {
       display: inline-block;
       font-weight: 700;
   }
   .profile-stats span {
       padding-left: 3px;
       font-weight: 200;
   }
   
   .profile-links i {
       font-size: 1.2em;
       padding: 15px 0;
       
   }
   .profile-links span {
        padding-left: 10px;
        font-size: 1.1em;
   }
   .profile-menu hr {
       margin-top: 1em;
       width: 106%;
       margin-left: -15px;
   }
   .aboutPara {
       margin-top: 1em;
   }
   #profile-close {
       position: absolute;
       top: 31px;
       right: 30px;
       font-size: 30px;
   }
    /* News updates */
   .home-page-main-content {
       background: rgba(0, 0, 0, .9);
       width: 95%;
       margin: 0 auto;

   }
   /* the title of the content */
   .news-update-title-wrapper {
       display: grid;
       grid-template-columns: 17% 60% 1fr;
       padding-top: .4em;
       margin-top: .6em;
       color: white;
   }
   /* icon picture */
   .news-update-img-wrapper {
       margin-top: -.4em;
   }
   .news-update-img-wrapper img {
       width: 90%;
   }
   /* news title */
   .news-update-title { 
       font-size: .8em;
   }
   .news-update-title p {
       font-size: .8em;
   }
    /* news date wrapper*/
    .news-upadate-date p {
        font-size: .6em;
    }
    /* the main content */
    .news-update-main-content-img-wrapper {
        position: relative;
        
    }
    .news-update-main-content-img-wrapper img {
       width: 100%;
       height: 25%;
       
   }
   .news-update-main-content-img-wrapper p {
       position: absolute;
       color: white;
       bottom: 0;
       font-size: .7em;
       padding-left: 3px;
   }
   /* the social links on each of the news posts */
   .news-update-links {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60%;
    padding: .7em 0;
    font-size: .85em;
    padding-left: 1em;
   }
   .news-update-links i {
       font-size: 12px;
       padding: 2px;
       
   }
  
   #icon-fix {
       text-align: right;
       padding-right: 1em;
   }
   #positioning-fix {
       margin-bottom: 5em;
   }



   /* Friends page */
   /* Friend Search Bar */
   .friends-search {
    width: 100%;
    padding: 10px 5%;
    border-bottom: solid white 1px;

    
   }
   .friends-search input {
    font-size: 1em;
    padding: 5px 2px;
    width: 100%;
    background:rgba(255, 255, 255, .9);
    border: none;
    border-radius: 4px;
   }
     /* Friends */
     .friends {
         display: grid;
         grid-template-columns: 1fr 82%;
         position: relative;
         margin: 1em 0;
         color: whitesmoke;
     }
     .friends img {
         width: 100%;
     }
     .friends-info {
         padding-top: 5px;
     }
     .friends-info h4 {
         font-size: 1em;
         font-weight: 600;
     }
     .friends-info p {
         font-size: .83em;
     }
     .friends-online {
         position: absolute;
         right: 15px;
         top: 4px;
         color: green;
         font-weight: 200;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     }
     .friends-offline {
        position: absolute;
        right: 15px;
        top: 4px;
        color: red;
        font-weight: 200;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    .friends:last-child {
        margin-bottom: 5em;
    }
     /* Games Page */
     .games {
         width: 95%;
         margin: 0 auto;
     }
     #games-select {
         color: black;
         margin: 1em 0;
         border: solid white 1px;
         width: 50%;
         font-size: 1em;
         padding-left: 3px;
     }
     .games hr {
         margin: .5em 0 1em 0;
     }
     /* Games Page Wrapper */
     .games-wrapper {
         width: 100%;
         margin-bottom: 4em;
     }
     .games-wrapper ul {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 10px;
         width: 100%;
         margin: 0 auto;
         list-style: none;

     }
     .games-wrapper ul li {
         width: 100%;
         position: relative;
     }
     .games-wrapper ul li img {
         width: 100%;
         height: 135px;
     }
     .games-wrapper ul li p {
         position: absolute;
         bottom: 5px;
         color: white;
         font-size: .6em;
         font-weight: 600;
         
     }

     /* Notifiction page */
     .notification-select {
         color: white;
         background: black;
         display: grid;
         grid-template-columns: 1fr 1fr;
         width: 100%;
         text-align: center;
         position: fixed;
         z-index: 100;
       
     }
     .notification-select-all {
        border-bottom: solid white 1px;
     }
     .notification-select-all h4, .notification-select-mentions h4 {
         font-weight: 400;
         font-size: .96em;
         letter-spacing: 1.2px;
         padding-bottom: 10px;
     }
     /* All notifications */
     .notification-main {
         margin-top: 3em;
         margin-bottom: 4.5em;
     }
     .notifications-all-items {
         width: 100%;
         margin: 1em auto;
         padding: 0 9%;
         color: white;
         font-size: .9em;
         position: relative;
         border-bottom: solid rgba(255, 255, 255, 1) .1px;
         padding-bottom: 5px;
         
     }
     .notifications-all-items h3 {
         font-weight: 300;
     }
     .notifications-all-items p {
         font-weight: 100;
         font-size: 0.9em;
     }
     
     .notifications-all-items i {
        color: red;
        font-size: 20px;
        padding-bottom: 5px;
        
     }
     #comment {
         color: green;
     }
     #user {
         color: purple;
     }

     /* Notifictations Mentioned */

     .notifications-mentioned-wrapper {
         display: none;

     }
  





}


