/* Starting off using the mobile first approach */
/* universal resets and font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, li, a, span {
    font-family: poppins;
    font-size: 1em;
}
button {
    cursor: pointer;
}
@media only screen and (min-width:320px) {
   /* styling the login page */
   /* main Login page*/
   #index-body {
       position: relative;
       overflow: hidden;
   }
   .login-wrapper {
       background: cadetblue;
       width: 100%;
       height: 100%;
       overflow: hidden;
       position: relative;
   }
   .login-content-wrapper {
       margin: auto;
       width: 60%;
       text-align: center;
       padding-top: 11em;
   }
   .login-content-wrapper i {
       font-size: 4em; 
       display: block;
       color: white;
   }
   .login-content-wrapper button {
       border: solid white 1.5px;
       background: none;
       color: white;
       letter-spacing: 2px;
       font-size: .8em;
       font-weight: 700;
       padding: 5px 10px;
       margin-top: 14em;
   }
   /* Login overlay */
   .login-overlay {
       position: absolute;
       top: 0;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, .9);
       transform: translateY(100%); 
       transition: transform .3s ease-out;
       
   }
   .login-overlay-content {
       width: 70%;
       margin:  10em auto;
       text-align: center;
   }
   .login-overlay-content form input {
       width: 80%;
       font-size: 1em;
       padding: 4px 3px;
       margin: 1em 0;
   }
   .login-overlay-content form button {
        border: solid white 1.5px;
        background: none;
        color: white;
        letter-spacing: 2px;
        font-size: .8em;
        font-weight: 700;
        padding: 5px 10px;
        margin-top: 2em;
   }
   .login-overlay-content form span {
       color: white;
       font-size: 2em;
       position: absolute;
       top: 100px;
       right: 68px;
       cursor: pointer;
   }
   #incPassword {
       color: red;
       font-size: .8em;
       margin-top: 2em;
       text-transform: uppercase;
       letter-spacing: 4px;
   }
   /* Main-Page or home*/
   /* Icons wrapper */
   .navigation-wrapper {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       text-align: center;
       position: fixed;
       bottom: 0;
       width: 100%;
       border-top: solid 1px white;
   }
   .icons-wrapper {
       background: black;
       color: white;
   }
   .icons-wrapper i {
       font-size: 1.1em;
       padding: 20px;
   }
   .homepage-body {
       background: rgba(0, 0, 0, .9);
   }
   /* Top Banner */
   .banner-content {
    background: rgba(0, 0, 0, .9);
    display: grid;
    grid-template-columns: 25% 1fr;
    padding: 1em 0 1em 0;
   }
   .banner-content  h1 {
       color: white;
       font-weight: 500;
       font-size: .8em;
       padding: 5px 0 ;
       background: none;
       z-index: 0;
       margin-left: 3em;
   }
   .banner-content i {
       color: white;
       text-align: left;
       padding: 2px;
       margin-left: 1em;
       z-index: 20;
   }
   /* Profile slide in menu */
   .profile-menu {
       background: white;
       position: absolute;
       width: 75%;
       height: 100%;
       top: 0;
       z-index: 100;
       padding-left: 15px;
       transform: translateX(-100%);
       transition: transform .4s ease;
   }
   .profile-menu i {
       padding-top: 1em;
       font-size: 30px;
   }
   .profile-menu h4 {
       margin-top: .8em;
       font-size: 1em;
       font-weight: 600;
   }
   .profile-menu h5 {
    font-size: .9em;
    font-weight: 400;
    margin-bottom: .5em;
    margin-top: .3em;
   }
   .profile-stats {
       width: 100%;
       font-size: .9em; 
   }
   .profile-stats p {
       display: inline-block;
       font-weight: 700;
   }
   .profile-stats span {
       padding-left: 3px;
       font-weight: 200;
   }
   
   .profile-links i {
       font-size: 1.4em;
       
   }
   .profile-links span {
        padding-left: 10px;
        font-size: 1.1em;
   }
   .profile-menu hr {
       margin-top: 1em;
       width: 106%;
       margin-left: -15px;
   }
   .aboutPara {
       margin-top: 1em;
   }
   #profile-close {
       position: absolute;
       top: 31px;
       right: 30px;
       font-size: 30px;
   }
}


